<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content Creation Helper</title>
</head>
<body>
    <h1>Welcome to Content Creation Helper</h1>

    <form action="/login_user" method="post">

        <label for="api_key"><b>Your API Key: </b></label>
          <input type="text" placeholder="Enter API Key" id="api_key" name="api_key" required>
        <br><br>

        <p>If you do not have an API key, please register using the link </p>
        <p><a href="https://platform.openai.com/account/api-keys">Create OpenAI API Key</a></p>

        <button type="submit">Login</button>

    </form>
</body>
</html>